template(v-slot:form)
  h1.component__title News item
  div.form-group
    label(for="input") Text (in Markdown)
    textarea(id="input" v-model="input").form-control

  include ../../includes/copy-button
