template(v-slot:render-container)
  div(style="max-width: 600px; margin: 0 auto; padding: 24px 0; background-color: #fff; border: 1px dotted #d0d0d0;")
    div#rendered
      include ../../includes/render-button
