template(v-slot:render-container)
  div(style="max-width: 600px; margin: 0 auto; padding: 24px 0; background-color: #fff; border: 1px dotted #d0d0d0; box-sizing: content-box;")
    div#rendered
      table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;")
        tbody
          tr
            td(:style="spacingStyle")
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:528px;" ><![endif]-->
              div(class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;")
                table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%")
                  tbody
                    tr
                      td(:align="selectedAlign" class="pardot-region-type-image" style="font-size:0px;padding:0;word-break:break-word;")
                        table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;")
                          tbody
                            tr
                              td(:style="{ width: displayWidthNumber + 'px' }")
                                img(:src="imageUrl" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" :width="displayWidthNumber" height="auto")
                    tr(v-if="caption != ''")
                      td(:align="selectedAlign" :style="captionTdStyle")
                        div(:style="captionStyle")
                          | {{ caption }}
              <!--[if mso | IE]></td></tr></table><![endif]-->
