template(v-slot:form)
  h1.component__title Header
  div.form-group
    label(for="imageUrl") Image URL
    input(type="text" id="imageUrl" v-model="imageUrl").form-control
    p.help-block For sharpest display, the header width should be 1200px (twice the 600px display width)

  div.form-group
    label(for="link") Image link
    input(type="text" id="link" v-model="link").form-control

  include ../../includes/copy-button
