//$brandcolor: #22528e;
$brandcolor: #7d1aba;
$darkturquoise: #1ccacd;
$color-success: #2dccb8;
$color-primary: #337ab7;
$color-info: #31b0d5;

$body-font: 'Open Sans', Helvetica, Arial, sans-serif;

$first-color: #1ccacd;
$second-color: $brandcolor;
$third-color: #8a1c7c;
$font-color-light: #888;
$light-gray: #f3f3f3;
$dark-gray: #4a4a4a;
$border-radius: 1px;


/**
 * Tooltipped
 *
 */

$tooltip-text-color: #fff;
$tooltip-background-color: rgba(0,0,0,0.8);
$tooltip-duration: .2s;
$tooltip-delay: 0;
$tooltip-max-width: 300px;
