template(v-slot:render-container)
  div(style="max-width: 590px; margin: 0 auto; background-color: #fff;")
    div#rendered
      <!--[if mso]><table border="0" cellpadding="0" cellspacing="0" width="600" align="center" bgcolor="#ffffff" style="width:600px;"><tr><td><![endif]-->
      div(style="max-width:600px; margin:0 auto; background:#fff; overflow:hidden;")
        div(style="margin:20px;")
          <!--[if mso]><table border="0" cellpadding="0" cellspacing="0" width="160" align="right" style="width:160px;"><tr><td style="padding:0 0 20px 20px;"><![endif]-->
          img(src="http://i.imgur.com/6bkt2Qk.gif" align="right" width="140" height="140" border="0" style="margin:0 0 20px 20px; background:#E79851;")
          <!--[if mso]></td></tr></table><![endif]-->
          p(style="Margin:0; font:16px/1.25 sans-serif; color:#4CB3E8; text-align:justify;")
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, aut eligendi dignissimos, illum eaque ut architecto quisquam! Odio, aliquam eligendi iste tempore beatae, deserunt! Officia temporibus at, debitis excepturi porro mollitia aspernatur labore unde dolores quae blanditiis dignissimos error aut iure magnam sed placeat impedit incidunt praesentium natus dolorum. Hic illum vitae iusto aspernatur tempora voluptatem id dolor reiciendis amet ea iste similique fuga, accusamus quibusdam, atque itaque quae sit dolorem asperiores facilis, fugit odio eveniet. Autem iusto nisi, minus sunt fuga quas sed expedita incidunt veniam nobis id ab. Blanditiis ullam laboriosam, quibusdam fugiat repellat labore nulla natus minima at, a veritatis nostrum dignissimos ipsa libero, voluptatem itaque!
      <!--[if mso]></td></tr></table><![endif]-->
