template(v-slot:render-container)
  div(style="max-width: 600px; margin: 0 auto; padding: 24px 0; background-color: #fff; border: 1px dotted #d0d0d0;")
    div#rendered
      template(v-if="dividerAbove")
        include ../../includes/newsletter/divider-above
      a(:id="bookmark" :name="bookmark")
      table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%")
        tbody
          tr(v-if="headlineOutput != ''")
            td(class="pardot-region" pardot-region="" style="font-size:0px;padding:0 36px 24px 36px;word-break:break-word;")
              div(style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; text-align: left; color: #2a2a2a;" v-html="headlineOutput")
          tr
            td(class="pardot-region" pardot-region="" style="font-size:0px;padding:0 36px 0 36px;word-break:break-word;")
              table(v-if="includeImage" align="right" cellpadding="0" cellspacing="0" class="image" style="border: none; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
                tbody
                  tr
                    // image
                    td(class="null" :style="imageTdStyle")
                      img(align="right" alt="" border="0" class="img" height="auto" :src="imageUrl" style="inline: true; margin: 0; position: center; text-align: right;" width="150")
                  tr(v-if="caption != ''")
                    // caption
                    td(style="padding:8px 0px 18px 24px;")
                      table(align="right" cellpadding="0" cellspacing="0" class="imagecaption" style="border: none; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="150")
                        tbody
                          tr
                            td
                              table(cellpadding="0" cellspacing="0" style="border: none; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%")
                                tbody
                                  tr
                                    td
                                      table(cellpadding="8" cellspacing="0" style="border: none; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%")
                                        tbody
                                          tr
                                            td(align="center")
                                              p(style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; line-height: 17px; margin-bottom: 0; margin-top: 0;")
                                                | {{ caption }}
              div(style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; text-align: left; color: #2a2a2a;" v-html="output")
      template(v-if="includeButton")
        include ../../includes/render-button
