template(v-slot:form)
  div.row
    div.col-xs-12
      h1.component__title News item

  Tabs
    Tab(title="Main")
      div.row
        div.col-xs-12
          div.form-group
            label(for="headline") Headline (in Markdown)
            textarea(id="headline" v-model="headline").form-control

      div.row
        div.col-xs-12
          div.form-group
            label(for="input") Content (in Markdown)
            textarea(id="input" v-model="input").form-control

    Tab(title="Extras")
      div.row
        div.col-xs-12
          Option
            template(v-slot:head)
              | Divider
            template(v-slot:tail)
              Switch(v-model="dividerAbove")

          Option(:should-show="includeButton")
            template(v-slot:head)
              | Button
            template(v-slot:tail)
              div
                ButtonLink(@click="includeButton = true")
                  template(v-slot:text)
                    | Add
            template(v-slot:show)
              div.row
                div.col-xs-12
                  div(style="margin-top: -1px; margin-bottom: -1px").item-group
                    //ItemGroup(:closer="includeButton" title="Small image")
                    h4(style="margin-top: 13px;") Button #[CloseButton(@click="includeButton = false")]
                    div.form-group
                      div.form-group
                        label(for="text") Button text
                        input(type="text" id="text" v-model="text").form-control

                      div.form-group
                        label(for="link") Link
                        input(type="text" id="link" v-model="link").form-control


          Option(:should-show="includeImage")
            template(v-slot:head)
              | Small image
            template(v-slot:tail)
              div
                ButtonLink(@click="includeImage = true")
                  template(v-slot:text)
                    | Add
            template(v-slot:show)
              div.row
                div.col-xs-12
                  div(style="margin-top: -1px; margin-bottom: -1px").item-group
                    h4(style="margin-top: 13px;") Small image #[CloseButton(@click="includeImage = false")]
                    div.form-group
                      label(for="imageUrl") Image URL
                      input(type="text" id="imageUrl" v-model="imageUrl").form-control
                      p.help-block Image will be 120px wide

                    div.form-group
                      label(for="caption") Caption
                      input(type="text" id="caption" v-model="caption").form-control


  div.row
    div.col-xs-12
      include ../../includes/copy-button
